---
http_interactions:
- request:
    method: post
    uri: https://api.basistheory.com/atomic/banks
    body:
      encoding: UTF-8
      string: '{"bank":{"routing_number":"021000021","account_number":"1234567890"}}'
    headers:
      X-Api-Key:
      - "<NO SOUP FOR YOU>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.basistheory.com/atomic/banks/b4e9c732-74dc-46a2-a75a-964b2940617c
      Bt-Trace-Id:
      - 449c82a5-a6fb-4a76-8c15-5f5902bfdb75
    body:
      encoding: UTF-8
      string: '{"id":"b4e9c732-74dc-46a2-a75a-964b2940617c","tenant_id":"<NO SOUP
        FOR YOU>","bank":{"routing_number":"021000021","account_number":"XXXXXX7890"},"type":"bank","created_by":"b12c1d3f-76ee-4808-8624-e331a3948d1e","created_at":"2021-09-24T22:49:45.6655304+00:00"}'
  recorded_at: Fri, 24 Sep 2021 22:49:45 GMT
recorded_with: VCR 6.0.0
