---
http_interactions:
- request:
    method: post
    uri: https://api.basistheory.com/atomic/banks
    body:
      encoding: UTF-8
      string: '{"bank":{"routing_number":"021000021","account_number":"1234567890"}}'
    headers:
      X-Api-Key:
      - "<NO SOUP FOR YOU>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.basistheory.com/atomic/banks/1afd175f-0fad-46c0-9867-dbdfc5ea4a3e
      Bt-Trace-Id:
      - 10efb07d-3937-4fcd-a5f0-8a11066eebb5
    body:
      encoding: UTF-8
      string: '{"id":"1afd175f-0fad-46c0-9867-dbdfc5ea4a3e","tenant_id":"<NO SOUP
        FOR YOU>","bank":{"routing_number":"021000021","account_number":"XXXXXX7890"},"type":"bank","created_by":"b12c1d3f-76ee-4808-8624-e331a3948d1e","created_at":"2021-10-02T14:32:51.7132123+00:00"}'
  recorded_at: Sat, 02 Oct 2021 14:32:51 GMT
- request:
    method: get
    uri: https://api.basistheory.com/atomic/banks/1afd175f-0fad-46c0-9867-dbdfc5ea4a3e/decrypt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<NO SOUP FOR YOU>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bt-Trace-Id:
      - 51997596-54ad-40cd-85ed-28eddf2ae343
    body:
      encoding: UTF-8
      string: '{"id":"1afd175f-0fad-46c0-9867-dbdfc5ea4a3e","tenant_id":"<NO SOUP
        FOR YOU>","bank":{"routing_number":"021000021","account_number":"1234567890"},"type":"bank","created_by":"b12c1d3f-76ee-4808-8624-e331a3948d1e","created_at":"2021-10-02T14:32:51.7132123+00:00"}'
  recorded_at: Sat, 02 Oct 2021 14:32:52 GMT
recorded_with: VCR 6.0.0
