---
http_interactions:
- request:
    method: post
    uri: https://api.basistheory.com/atomic/banks
    body:
      encoding: UTF-8
      string: '{"bank":{"routing_number":"021000021","account_number":"1234567890"}}'
    headers:
      X-Api-Key:
      - "<NO SOUP FOR YOU>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.basistheory.com/atomic/banks/a833bfa7-7a3c-4fe3-a9b7-e89fc0bf26a9
      Bt-Trace-Id:
      - 69998ef3-826c-4c26-9696-e61ef8893a8f
    body:
      encoding: UTF-8
      string: '{"id":"a833bfa7-7a3c-4fe3-a9b7-e89fc0bf26a9","tenant_id":"<NO SOUP
        FOR YOU>","bank":{"routing_number":"021000021","account_number":"XXXXXX7890"},"type":"bank","created_by":"b12c1d3f-76ee-4808-8624-e331a3948d1e","created_at":"2021-10-02T11:30:27.4107954+00:00"}'
  recorded_at: Sat, 02 Oct 2021 11:30:27 GMT
recorded_with: VCR 6.0.0
