---
http_interactions:
- request:
    method: get
    uri: https://api.basistheory.com/atomic/banks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<NO SOUP FOR YOU>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bt-Trace-Id:
      - 182c54f4-e6df-4329-904e-00077d9f4a4b
    body:
      encoding: UTF-8
      string: '{"pagination":{"total_items":13,"page_number":1,"page_size":20,"total_pages":1},"data":[{"id":"48b956e8-f782-4ac5-80ef-e9ee6ec52ea7","tenant_id":"<NO
        SOUP FOR YOU>","bank":{"routing_number":"021000021","account_number":"XXXXXX7890"},"type":"bank","created_by":"b12c1d3f-76ee-4808-8624-e331a3948d1e","created_at":"2021-10-02T11:30:23.6630188+00:00"},{"id":"b4e9c732-74dc-46a2-a75a-964b2940617c","tenant_id":"<NO
        SOUP FOR YOU>","bank":{"routing_number":"021000021","account_number":"XXXXXX7890"},"type":"bank","created_by":"b12c1d3f-76ee-4808-8624-e331a3948d1e","created_at":"2021-09-24T22:49:45.6655304+00:00"},{"id":"ab057f27-4128-4e4e-a4fa-5c3ae20c492a","tenant_id":"<NO
        SOUP FOR YOU>","bank":{"routing_number":"021000021","account_number":"XXXXXX7890"},"type":"bank","created_by":"b12c1d3f-76ee[...]
