---
http_interactions:
- request:
    method: post
    uri: https://api.basistheory.com/atomic/banks
    body:
      encoding: UTF-8
      string: '{"bank":{"routing_number":"021000021","account_number":"1234567890"}}'
    headers:
      X-Api-Key:
      - "<NO SOUP FOR YOU>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.basistheory.com/atomic/banks/457181de-f65a-4f0a-a740-84b72560a274
      Bt-Trace-Id:
      - 369839ad-8c40-49ad-8bcb-57dfbdc7f4a2
    body:
      encoding: UTF-8
      string: '{"id":"457181de-f65a-4f0a-a740-84b72560a274","tenant_id":"<NO SOUP
        FOR YOU>","bank":{"routing_number":"021000021","account_number":"XXXXXX7890"},"type":"bank","created_by":"b12c1d3f-76ee-4808-8624-e331a3948d1e","created_at":"2021-10-02T14:18:43.0437282+00:00"}'
  recorded_at: Sat, 02 Oct 2021 14:18:43 GMT
- request:
    method: delete
    uri: https://api.basistheory.com/atomic/banks/457181de-f65a-4f0a-a740-84b72560a274
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<NO SOUP FOR YOU>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Bt-Trace-Id:
      - 9f505fdb-86b5-4501-a418-ac36343e10e0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 02 Oct 2021 14:18:43 GMT
recorded_with: VCR 6.0.0
