---
http_interactions:
- request:
    method: post
    uri: https://api.basistheory.com/tokens
    body:
      encoding: UTF-8
      string: '{"data":"some_data_to_encrypt"}'
    headers:
      X-Api-Key:
      - "<NO SOUP FOR YOU>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.basistheory.com/tokens/ebadb499-4ac6-403c-945f-dac81271115b
      Bt-Trace-Id:
      - 17afbb1c-2376-43d4-b8d8-b198aad1124f
    body:
      encoding: UTF-8
      string: '{"id":"ebadb499-4ac6-403c-945f-dac81271115b","tenant_id":"<NO SOUP
        FOR YOU>","type":"token","created_by":"b12c1d3f-76ee-4808-8624-e331a3948d1e","created_at":"2021-10-03T13:53:08.3175556+00:00"}'
  recorded_at: Sun, 03 Oct 2021 13:53:08 GMT
- request:
    method: get
    uri: https://api.basistheory.com/tokens/ebadb499-4ac6-403c-945f-dac81271115b/decrypt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<NO SOUP FOR YOU>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bt-Trace-Id:
      - f8cf5deb-4442-44c6-8919-b65cb2a061fd
    body:
      encoding: UTF-8
      string: '{"id":"ebadb499-4ac6-403c-945f-dac81271115b","tenant_id":"<NO SOUP
        FOR YOU>","data":"some_data_to_encrypt","type":"token","created_by":"b12c1d3f-76ee-4808-8624-e331a3948d1e","created_at":"2021-10-03T13:53:08.3175556+00:00"}'
  recorded_at: Sun, 03 Oct 2021 13:53:08 GMT
recorded_with: VCR 6.0.0
