---
http_interactions:
- request:
    method: post
    uri: https://api.basistheory.com/tokens
    body:
      encoding: UTF-8
      string: '{"data":"some_data_to_encrypt"}'
    headers:
      X-Api-Key:
      - "<NO SOUP FOR YOU>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.basistheory.com/tokens/b3399d45-6bec-4448-bdcd-d559c17a878c
      Bt-Trace-Id:
      - bbf52465-6166-450e-86fa-249f6dfd22b0
    body:
      encoding: UTF-8
      string: '{"id":"b3399d45-6bec-4448-bdcd-d559c17a878c","tenant_id":"<NO SOUP
        FOR YOU>","type":"token","created_by":"b12c1d3f-76ee-4808-8624-e331a3948d1e","created_at":"2021-10-03T13:53:07.5340082+00:00"}'
  recorded_at: Sun, 03 Oct 2021 13:53:07 GMT
- request:
    method: delete
    uri: https://api.basistheory.com/tokens/b3399d45-6bec-4448-bdcd-d559c17a878c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<NO SOUP FOR YOU>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Bt-Trace-Id:
      - 5751b666-7dac-4c23-ae1a-c2d0e0f6f47d
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 03 Oct 2021 13:53:07 GMT
recorded_with: VCR 6.0.0
