---
http_interactions:
- request:
    method: post
    uri: https://api.basistheory.com/tokens
    body:
      encoding: UTF-8
      string: '{"data":"some_data_to_encrypt"}'
    headers:
      X-Api-Key:
      - "<NO SOUP FOR YOU>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.basistheory.com/tokens/4fd697a3-19d4-4097-a16d-925ecf920797
      Bt-Trace-Id:
      - a9952229-7df8-4057-b256-bff800d7c9a6
    body:
      encoding: UTF-8
      string: '{"id":"4fd697a3-19d4-4097-a16d-925ecf920797","tenant_id":"<NO SOUP
        FOR YOU>","type":"token","created_by":"b12c1d3f-76ee-4808-8624-e331a3948d1e","created_at":"2021-10-03T13:16:53.5006044+00:00"}'
  recorded_at: Sun, 03 Oct 2021 13:16:53 GMT
recorded_with: VCR 6.0.0
